<mat-card style="margin: 10px">
    <mat-card-content fxLayout="column" fxLayoutGap="25px">

        <div fxLayout="column" fxLayoutGap="5px">
            <div fxFlex fxLayout='column'>
                <mat-form-field>
                    <mat-label>Renda Planejada</mat-label>
                    <input matInput type="number">
                    <span matPrefix>R$&nbsp;</span>
                </mat-form-field>
            </div>
            <div fxFlex fxLayout='column'>
                <mat-form-field>
                    <mat-label>Renda Atual</mat-label>
                    <input matInput type="number">
                    <span matPrefix>R$&nbsp;</span>
                </mat-form-field>
            </div>
            <div fxFlex fxLayout='column'>
                <mat-divider></mat-divider>
            </div>
        </div>

        <div fxLayout="column" fxLayoutGap="5px">
            <div fxFlex fxLayout='column'>
                <mat-form-field>
                    <mat-label>Gastos Mensal Planejado</mat-label>
                    <input matInput type="number">
                    <span matPrefix>R$&nbsp;</span>
                </mat-form-field>
            </div>
        </div>

    </mat-card-content>
    <mat-card-actions>
        <div>
            <div fxLayout="row" fxLayoutAlign="end">
                <button mat-button>Salvar</button>
            </div>
        </div>
    </mat-card-actions>
</mat-card>