<mat-card style="margin: 10px">
    <mat-card-content fxLayout="column" fxLayoutGap="25px">
        <div fxLayout="column" fxLayoutGap="5px">
            <div>
                <span>Renda do mês</span>
                <p>R$ 283,00 de R$ 8400,00 planejados</p>
                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
            </div>
            <div fxLayout="row" fxLayoutAlign="end">
                R$: 8166.54 abaixo
            </div>
            <div>
                <mat-divider></mat-divider>
            </div>
        </div>
        <div fxLayout="column" fxLayoutGap="5px">
            <div>
                <span>Renda do mês</span>
                <p>R$ 283,00 de R$ 8400,00 planejados</p>
                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
            </div>
            <div fxLayout="row" fxLayoutAlign="end">
                R$: 8166.54 abaixo
            </div>
            <div>
                <mat-divider></mat-divider>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <div>
            <div fxLayout="row" fxLayoutAlign="end">
                <button mat-button>Editar Renda</button>
            </div>
        </div>
    </mat-card-actions>
</mat-card>